%body
  %header.navbar.navbar-fixed-top.navbar-inverse
    .container  
      .navbar-header
        %button.navbar-toggle{type:'button',:data => {:toggle => 'collapse', :target => '.navbar-collapse'}}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar 
      .collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li= link_to 'Home', root_path
          %li{:data => {:toggle => 'collapse', :target => '.nav-collapse.in'}}= link_to 'New post', new_post_path
          - if user_signed_in?
            %li{:data => {:toggle => 'collapse', :target => '.nav-collapse.in'}}= link_to "#{current_user.name}", edit_user_registration_path
            %li{:data => {:toggle => 'collapse', :target => '.nav-collapse.in'}}= link_to "Logout", destroy_user_session_path, method: :delete
          - else
            %li{:data => {:toggle => 'collapse', :target => '.nav-collapse.in'}}= link_to "Sign up", new_user_registration_path
            %li{:data => {:toggle => 'collapse', :target => '.nav-collapse.in'}}= link_to "Login", new_user_session_path
      
